# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/

# Build output
build/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# Compiled output
*.js
*.js.map
*.css
*.css.map

# Miscellaneous
.DS_Store
Thumbs.db